useDynLib(rGADEM)

importClassesFrom(IRanges, RangedData)
importClassesFrom(Biostrings)

import(methods)
importFrom(graphics, plot)
importFrom(seqLogo, plot)

export(GADEM)
exportClasses(parameters, align, gadem, motif)
exportMethods(length, dim, names, consensus, parameters,viewPWM,startPos,endPos,nOccurrences,nMotifs,plot,getPWM)
